div.nav-bar {
    background-color: rgb(231, 231, 231);
    overflow: hidden;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.nav-bar a {
    color: black;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

div.nav-bar a:hover {
    background-color: teal;
    color: white;
}

div.nav-bar a.active {
    background-color: teal;
    color: white;
}

div.content-container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#header_text {
    display: flex;
    flex-direction: column;
}

div.content p {
    padding: 2%;
    line-height: 140%;
}

h1 {
    text-align: center;
    font-family: 'Train One';
    font-size: 50px;
}

h2 {
    padding: 2%;
}


.teaser-image {
    width: 350px;
    height: 350px;
    max-width: 100%;
    max-height: auto;
    padding: 1%;
    object-fit: cover;
    border-radius: 50%;
}


@media only screen and (max-width: 1000px) {
    .nav-bar {
        flex-direction: column;
    }

    .content-container {
        width: calc(100% - 2en);
        padding: len;
    }
}
